* {
    margin: 0;
    padding: 0%;
}

main {
    background-color: white;
    box-shadow: 1px 1px 9px #a39b9b8c;
    border-radius: 7px;
    margin: auto;
    width: 63vw;
}

main .head {
    text-align: center;
    margin-top: 20%;
    padding-top: 24px;
}

main .head h1 {
    font-family: sans-serif;
    font-size: 27px;
}

main .head h1 span {
    color: rgba(23, 30, 221, 0.452);
}

main .quize .header {
    display: flex;
    padding-left: 50px;
    gap: 10px;
    padding-top: 40px;
    font-family: sans-serif;

}

main .quize .header img {
    height: 30px;
    height: 30px;
    border-radius: 50%;
}
main .quize .header h2{
    font-size: 20px;
   
}
main .quize .radio {
    margin-left: 75px;
    width: 84%;
}

main .quize .radio .radio1 {
    border: 1px solid rgb(172, 103, 13);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
   

}
main .quize .radio .radio1 input{
   cursor: pointer;

}

main .quize .radio label {
    font-family: sans-serif;
    font-weight:bold ;
    width: 100%;
  
    cursor: pointer;

}

 input[type="radio"]:checked ~ label{
    background-color: bisque;
} 

main .btn {
    margin: auto;
    align-items: center;
    text-align: center;
}

main .btn button {
    padding: 10px 12px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
@media  screen and (max-width: 600px) {
  main{
  
    text-align: center;
  }
    main .quize .radio{
        margin: auto;
    }
    main .quize .header {
        margin: auto;
    
    }
  
}